{% extends "register/header.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <li class="text-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}
<h2>let upload someone pics</h2> <br>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{field.errors}}</span>
            </div>
            <label class="control-label col-sm-2">{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {{field}}
            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">submit</button>
        </div>
    </div>


</form>
{% endblock %}