<head>
	<title>Regis Ishimwe</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'register/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:10%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'register/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1>Shaft</h1>
				  </center>
			  </div>
		</div><hr>
	</div>

</body>

<center>
{% block content %}
<h2>let's register then!</h2> <br>

{% if form.errors %}
    <p><strong>something went wrong</strong></p>
{% endif %}

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{field.errors}}</span>
            </div>
            <label class="control-label col-sm-2">{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {{field}}
            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>


</form>

<p>To Register <a href="register.html"> Click Here</a> </p>

{% endblock %}
    </center>